body {
    margin: 0;
    padding: 0;
    font-family: Arial sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
}

/* HEADER */
header {
    text-align: center;
    padding: 30px 20px;
    background-color: #1e293b;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header p {
    margin: 5px 0 15px;
    color: #94a3b8;
}

/* NAVIGATION */
nav a {
    color: #60a5fa;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #3b82f6;
}

/* MAIN */
main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* SECTIONS */
section {
    background-color: #111827;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

/* TITLES */
h2 {
    color: #38bdf8;
}

/* IMAGE */
img {
    display:block;
    margin: 10px auto;
    border-radius: 10px;
    border: 3px solid #334155;
}

/* LISTS */
ul, ol {
    padding-left: 20px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #334155;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1e293b;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #2563eb;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e293b;
    margin-top: 20px;
    color: #94a3b8;
}