 <style>
        .first{
            text-align: end;
        }
        .title{
            text-align: center;
            color: rgb(255, 0, 170);
        }
        *{
            margin:10px;
            padding: 0px;
        }
        h1{
            color: pink;
        }
        h2{
            color: pink;
        }
        p{
            color: pink;
        }
        
        body{
            background-color: black;
        }
        
     .second{
          width: 200px;
        height: 200px;
        border: 2px red;
        background-color: greenyellow;
        border-radius: 5px;
    }
    .sp-text{
        width: 200px;
        height: 200px;
        border: 2px red;
        background-color: greenyellow;
        border-radius: 5px;
    }
    </style>